[Unit]
Description=Ejecuta la copia de backup de TaraTrack al NAS cada dia

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true

[Install]
WantedBy=timers.target
